<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="navbar_delete.css">
    <link rel="stylesheet" href="delete-form.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">Create</a>
    </div>
    <div class="form-user">
        <form action="/delete" method="post">
            <fieldset>
                <legend>Do you want to delete this user ?</legend>
                <div class="input-group" style="visibility: hidden;">
                    <label>Email: </label>
                    <input type="text" name="id" value="<%=user._id%>" />
                </div>
                <div class="input-group">
                    <label>Email: </label>
                    <input type="text" name="email" value="<%=user.email%>" />
                </div>
                <div class="input-group">
                    <label>Name: </label>
                    <input type="text" name="name" value="<%=user.name%>" />
                </div>
                <div class="input-group">
                    <label>City: </label>
                    <input type="text" name="city" value="<%=user.city%>" />
                </div>
                <div class="input-group" id="save-user">
                    <button>Delete</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>

</html>