<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/create-form.css'>
    <link rel="stylesheet" href="css/navbar.css">
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/create">Create</a>
    </div>
    <div class="form-user">
        <!-- <h2>Add new users</h2> -->
        <form action="/create-user" method="post">
            <fieldset>
                <legend>Form add new users</legend>
                <div class="input-group">
                    <label>Email: </label>
                    <input type="text" name="email"/>
                </div>
                <div class="input-group">
                    <label>Name: </label>
                    <input type="text" name="name"/>
                </div>
                <div class="input-group">
                    <label>City: </label>
                    <input type="text" name="city"/>
                </div>
                <div class="input-group" id="save-user">
                    <button type="submit">save</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>