<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/styles.css'>
</head>
<body>
    <h1>Check route abc from ejs use nodemon</h1>
    <div>
        <img src="/images/website.jpg" alt="anh-vi-du" class="example-img">
    </div>
</body>
</html>