* {
  margin: 0px;
}

table {
  margin: 0 auto;
  margin-top: 50px;
  border-collapse: collapse;
  width: 80%;
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #DDD;
  cursor: pointer;
}

tr:hover {background-color: #D6EEEE;}